@tailwind components;

.sr-only {
  border-width: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.text-theme-primary {
  color: var(--text-primary);
}

.text-theme-secondary {
  color: var(--text-secondary);
}

.text-on-accent {
  color: var(--text-on-accent);
}

.border-theme-light {
  border-color: var(--border-color-light);
}


.hero-headline-text {
  color: var(--text-primary);
}

.hero-subtitle {
  color: var(--text-secondary);
}

.hero-subtitle p {
  font-size: clamp(1.15rem, 1.0781rem + 0.3594vw, 1.2937rem);
}
