input:focus,
textarea:focus {
  background-color: var(--bg-surface);
}

@media (max-width: 640px) {
  #contact-main {
    padding-top: 4rem;
    padding-bottom: 2rem;
  }

  #contact-main .grid-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (max-width: 1023px) {
  #contact-form {
    max-width: 28rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (max-width: 640px) {
  .calendly-inline-widget-container {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    max-width: 100%;
  }
}
