@tailwind utilities;

/* Grid system */
.grid-container {
  width: 100%;
  max-width: var(--grid-max-width, 1280px);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--grid-padding-mobile, 1rem);
  padding-right: var(--grid-padding-mobile, 1rem);
  display: grid;
  grid-template-columns: repeat(var(--grid-columns, 12), minmax(0, 1fr));
  gap: var(--grid-gap-mobile, 1rem);
}

@media (min-width: 640px) {
  .grid-container {
    padding-left: var(--grid-padding-sm, 1.5rem);
    padding-right: var(--grid-padding-sm, 1.5rem);
    gap: var(--grid-gap-sm, 1.5rem);
  }
}

@media (min-width: 1024px) {
  .grid-container {
    padding-left: var(--grid-padding-lg, 2rem);
    padding-right: var(--grid-padding-lg, 2rem);
    gap: var(--grid-gap-lg, 2rem);
  }
}

/* Column span - mobile */
.col-span-1 { grid-column: span 1 / span 1; }
.col-span-2 { grid-column: span 2 / span 2; }
.col-span-3 { grid-column: span 3 / span 3; }
.col-span-4 { grid-column: span 4 / span 4; }
.col-span-5 { grid-column: span 5 / span 5; }
.col-span-6 { grid-column: span 6 / span 6; }
.col-span-7 { grid-column: span 7 / span 7; }
.col-span-8 { grid-column: span 8 / span 8; }
.col-span-9 { grid-column: span 9 / span 9; }
.col-span-10 { grid-column: span 10 / span 10; }
.col-span-11 { grid-column: span 11 / span 11; }
.col-span-12 { grid-column: span 12 / span 12; }
.col-span-full { grid-column: 1 / -1; }

/* Column span - small */
@media (min-width: 640px) {
  .sm\:col-span-1 { grid-column: span 1 / span 1; }
  .sm\:col-span-2 { grid-column: span 2 / span 2; }
  .sm\:col-span-3 { grid-column: span 3 / span 3; }
  .sm\:col-span-4 { grid-column: span 4 / span 4; }
  .sm\:col-span-5 { grid-column: span 5 / span 5; }
  .sm\:col-span-6 { grid-column: span 6 / span 6; }
  .sm\:col-span-7 { grid-column: span 7 / span 7; }
  .sm\:col-span-8 { grid-column: span 8 / span 8; }
  .sm\:col-span-9 { grid-column: span 9 / span 9; }
  .sm\:col-span-10 { grid-column: span 10 / span 10; }
  .sm\:col-span-11 { grid-column: span 11 / span 11; }
  .sm\:col-span-12 { grid-column: span 12 / span 12; }
  .sm\:col-span-full { grid-column: 1 / -1; }
}

/* Column span - medium */
@media (min-width: 768px) {
  .md\:col-span-1 { grid-column: span 1 / span 1; }
  .md\:col-span-2 { grid-column: span 2 / span 2; }
  .md\:col-span-3 { grid-column: span 3 / span 3; }
  .md\:col-span-4 { grid-column: span 4 / span 4; }
  .md\:col-span-5 { grid-column: span 5 / span 5; }
  .md\:col-span-6 { grid-column: span 6 / span 6; }
  .md\:col-span-7 { grid-column: span 7 / span 7; }
  .md\:col-span-8 { grid-column: span 8 / span 8; }
  .md\:col-span-9 { grid-column: span 9 / span 9; }
  .md\:col-span-10 { grid-column: span 10 / span 10; }
  .md\:col-span-11 { grid-column: span 11 / span 11; }
  .md\:col-span-12 { grid-column: span 12 / span 12; }
  .md\:col-span-full { grid-column: 1 / -1; }
}

/* Column span - large */
@media (min-width: 1024px) {
  .lg\:col-span-1 { grid-column: span 1 / span 1; }
  .lg\:col-span-2 { grid-column: span 2 / span 2; }
  .lg\:col-span-3 { grid-column: span 3 / span 3; }
  .lg\:col-span-4 { grid-column: span 4 / span 4; }
  .lg\:col-span-5 { grid-column: span 5 / span 5; }
  .lg\:col-span-6 { grid-column: span 6 / span 6; }
  .lg\:col-span-7 { grid-column: span 7 / span 7; }
  .lg\:col-span-8 { grid-column: span 8 / span 8; }
  .lg\:col-span-9 { grid-column: span 9 / span 9; }
  .lg\:col-span-10 { grid-column: span 10 / span 10; }
  .lg\:col-span-11 { grid-column: span 11 / span 11; }
  .lg\:col-span-12 { grid-column: span 12 / span 12; }
  .lg\:col-span-full { grid-column: 1 / -1; }
}

/* Column span - extra large */
@media (min-width: 1280px) {
  .xl\:col-span-1 { grid-column: span 1 / span 1; }
  .xl\:col-span-2 { grid-column: span 2 / span 2; }
  .xl\:col-span-3 { grid-column: span 3 / span 3; }
  .xl\:col-span-4 { grid-column: span 4 / span 4; }
  .xl\:col-span-5 { grid-column: span 5 / span 5; }
  .xl\:col-span-6 { grid-column: span 6 / span 6; }
  .xl\:col-span-7 { grid-column: span 7 / span 7; }
  .xl\:col-span-8 { grid-column: span 8 / span 8; }
  .xl\:col-span-9 { grid-column: span 9 / span 9; }
  .xl\:col-span-10 { grid-column: span 10 / span 10; }
  .xl\:col-span-11 { grid-column: span 11 / span 11; }
  .xl\:col-span-12 { grid-column: span 12 / span 12; }
  .xl\:col-span-full { grid-column: 1 / -1; }
}

/* Column start */
.col-start-1 { grid-column-start: 1; }
.col-start-2 { grid-column-start: 2; }
.col-start-3 { grid-column-start: 3; }
.col-start-4 { grid-column-start: 4; }
.col-start-5 { grid-column-start: 5; }
.col-start-6 { grid-column-start: 6; }
.col-start-7 { grid-column-start: 7; }
.col-start-8 { grid-column-start: 8; }
.col-start-9 { grid-column-start: 9; }
.col-start-10 { grid-column-start: 10; }
.col-start-11 { grid-column-start: 11; }
.col-start-12 { grid-column-start: 12; }
.col-start-auto { grid-column-start: auto; }

/* Column end */
.col-end-1 { grid-column-end: 1; }
.col-end-2 { grid-column-end: 2; }
.col-end-3 { grid-column-end: 3; }
.col-end-4 { grid-column-end: 4; }
.col-end-5 { grid-column-end: 5; }
.col-end-6 { grid-column-end: 6; }
.col-end-7 { grid-column-end: 7; }
.col-end-8 { grid-column-end: 8; }
.col-end-9 { grid-column-end: 9; }
.col-end-10 { grid-column-end: 10; }
.col-end-11 { grid-column-end: 11; }
.col-end-12 { grid-column-end: 12; }
.col-end-13 { grid-column-end: 13; }
.col-end-auto { grid-column-end: auto; }

