---
import "../../styles/components/particle-background.css";

interface Props {
  mode?:
    | "galaxy"
    | "network"
    | "flow"
    | "data"
    | "waves"
    | "logic"
    | "sys"
    | "ai"
    | "expand"
    | "articles"
    | "about";
}

const { mode = "galaxy" } = Astro.props;
---

<div
  id="particle-background"
  class="absolute inset-0 pointer-events-none"
  aria-hidden="true"
  data-particle-container
  data-mode={mode}
>
  <canvas id="particle-canvas" class="block w-full h-full"></canvas>
</div>
