---
import "../../styles/components/particle-background.css";

interface Props {
  mode?:
    | "galaxy"
    | "network"
    | "flow"
    | "data"
    | "waves"
    | "logic"
    | "sys"
    | "ai"
    | "expand"
    | "articles"
    | "about";
}

const { mode = "galaxy" } = Astro.props;
---

<div
  class="particle-background absolute inset-0 pointer-events-none"
  aria-hidden="true"
  data-particle-container
  data-mode={mode}
>
  <canvas
    class="particle-background__canvas block h-full w-full"
    data-particle-canvas
  ></canvas>
</div>
