---
import HeroUINavbar from "../navigation/HeroUINavbar";
import HeroUIProvider from "../providers/HeroUIProvider";
---

<HeroUIProvider client:load>
  <HeroUINavbar client:load />
</HeroUIProvider>

<div class="h-16 sm:h-18 lg:h-20"></div>
