* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  will-change: auto;
}

html {
  max-height: 100dvh;
  overflow-y: hidden;
}

@supports not (height: 100dvh) {
  html.loading {
    max-height: 100vh;
  }
}

html.loaded {
  max-height: none;
  overflow-y: auto;
}

body {
  overflow: hidden auto;
  position: relative;
}



body.loading {
  height: 100dvh;
  overflow: hidden;
}

@supports not (height: 100dvh) {
  body.loading {
    height: 100vh;
  }
}



